<!-- <div class="container color-dark">
  <div class="col">
    <p>Add a Review Item</p>
  </div>
  <div class="col">
    <p>Your Reviewed Items</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use Below form to submit a new artifact for review</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Book/ Article">
      <input type="submit" class="btn" value="Add Artifact">
    </form>
  </div>
  <div class="col">
    <p class="life-container">I want to take the buscuit</p>
  </div>
</div> -->





<!-- <div class="container color-dark">
  <div class="col">
    <p>pppppp</p>
  </div>
  <div class="col">
    <p>ps</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use Below form to submit a new artifact for review</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Book/ Article">
      <input type="submit" class="btn" value="Add Artifact">
    </form>
  </div>
  <div class="col">
    <p class="life-container">I want to take the buscuit</p>
  </div>
</div> -->
<p>asdasdas</p>

<!-- <app-form></app-form> -->



<!-- <div style="text-align:center">
  <h1>
    <mat-icon>favorite_border</mat-icon>
      Hello World
    <mat-icon>favorite_border</mat-icon>
  </h1>
</div> -->

